<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Containment Zone Alerting | ADD CONTAINMENT</title>
        
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- bootstrap navbar -->
    <div class="logo mt-3 text-center">
        <a class="main-logo-img mt-5" href="#"><img src="static/img/logo.png" alt="location-logo" height="50px" width="180px">
            <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
          </a>
    </div>
      <!-- navbar ends -->
    <!-- Login form -->
    <div class="login text-center mt-5"> 
        <h2> Add Containment Zone</h2>
        <form action="/addcontainment" method="post">
        <div class="msg">{{ msg }}</div>
            <!-- <input type="text" placeholder="fullname" id="fullname"> </br></br> -->
            <input type="text" name="location" placeholder="Enter New Location"  id="location" required></br></br>
            
			
            </br>
            </br>
        <button type="submit" id="button" class="btn btn-primary"> Proceed </button>
        </form>
    </div>
     <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="/admindashboard">BACK</a>
              </div>
     
   
    </div>
</body>
</html>



